POSTGRES_USER=smartbank
POSTGRES_PASSWORD=smartbank_dev_only
RABBITMQ_USER=smartbank
RABBITMQ_PASSWORD=smartbank_dev_only
REDIS_PASSWORD=smartbank_dev_only
IDENTITY_ISSUER=http://localhost:5101
JWT_AUDIENCE=smartbank-spa
SEED_ADMIN_EMAIL=alex.morgan@smartbank.test
SEED_ADMIN_PASSWORD=123456
